tests/unit_tests/CMakeFiles/*
tests/unit_tests/googletest-build/*
tests/unit_tests/googletest-download/*
tests/unit_tests/cmake_install.cmake
tests/unit_tests/CMakeCache.txt
tests/unit_tests/Makefile
tests/unit_tests/sorer_test.dSYM/*
tests/unit_tests/lib/libgtest.a
.vscode/settings.json
tests/unit_tests/googletest-src
